body {
  background: #f9f9f9; }

.form-login-container {
  display: flex;
  height: 100vh;
  align-items: center; }

.form-login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto; }

.nav-link {
  cursor: pointer; }
  .nav-link:hover {
    color: #007bff; }

.modal-content {
  padding: 15px 0;
  min-height: 485px; }

.navigation {
  margin-bottom: 30px; }

.invalid-feedback {
  display: block; }

.form-control.invalid {
  border-color: #dc3545; }
