body {
  background: #f9f9f9;
}

.nav-link {
  cursor: pointer;

  &:hover {
    color: #007bff;
  }
}

.form-login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 460px;
}

.invalid-feedback {
  display: block;
}
